/*===========
    Global
============= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);
  --darkCyan: hsl(192, 100%, 9%);
  --paleBlue: hsl(207, 100%, 98%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: var(--darkCyan);
  letter-spacing: 0.5px;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

a {
  font-size: 1.8rem;
}

.btn {
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  margin: auto;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* ==========
    Header
============ */

.header {
  margin: 1.5rem 0;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header .logo img {
  width: 7rem;
}

.btn-small {
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 0.4rem 1.25rem;
  color: var(--lightPink);
  background-color: #fff;
  border: 2px solid var(--lightPink);
  transition: background-color 0.4s ease;
}

.btn-small:hover {
  color: var(--paleBlue);
  background-color: var(--lightPink);
}

.header .get-started-upper {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
  text-align: center;
}

.header .get-started-upper h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.header .get-started-upper p {
  font-size: 1rem;
  color: var(--darkCyan);
  margin-bottom: 3rem;
}

.btn-big {
  font-size: 0.7rem;
  color: var(--paleBlue);
  border-radius: 1rem;
  padding: 0.6rem 2rem;
  background-color: var(--pink);
  border: 2px solid var(--pink);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease;
}

.btn-big:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}

/* =================
    Screen Mockups
=================== */

.screen-mockups {
  width: 90%;
  margin: auto;
}

/* ==========
    Stats
=========== */

.stats {
  height: 50rem;
}

.stats .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats .communities,
.stats .messages {
  margin: 4rem 0 6rem 0;
}

.stats img {
  width: 2rem;
}

.stats .number {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.stats .name {
  font-size: 1rem;
  color: var(--darkCyan);
  text-transform: capitalize;
  text-align: center;
}

/* ====================
    Qualities Secions
====================== */

.quality-1,
.quality-2,
.quality-3 {
  height: 40rem;
}

.quality-1 .container,
.quality-2 .container,
.quality-3 .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
}

.quality-image {
  width: 20rem;
  margin-bottom: 3rem;
}

.quality-name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.quality-info {
  font-size: 1rem;
}

.quality-1,
.quality-3 {
  background-color: var(--paleBlue);
  position: relative;
}

.quality-1 .wave-mobile-top,
.quality-3 .wave-mobile-top {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.quality-1 .wave-mobile-bottom,
.quality-3 .wave-mobile-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.quality-1 .wave-desktop-top,
.quality-3 .wave-desktop-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.quality-1 .wave-desktop-bottom,
.quality-3 .wave-desktop-bottom {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.quality-2 {
  height: 40rem;
  margin-bottom: 8rem;
}

.quality-3 .container {
  justify-content: flex-start;
}

/* ====================
    Get Started Lower
====================== */

.get-started-lower {
  height: 40rem;
  display: flex;
  align-self: center;
  text-align: center;
}

.get-started-lower h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/* ===========
    Footer
============ */

footer {
  background-color: var(--darkCyan);
  color: var(--paleBlue);
  padding: 2rem 0;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* ===============
    Footer Wave
================= */

footer {
  position: relative;
}

footer .container {
  padding-top: 2rem;
}

footer .wave-mobile-top {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

footer .wave-desktop-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

/* ===================
    Footer Newsletter
===================== */

footer .newsletter {
  margin-bottom: 4rem;
}

footer .newsletter-heading {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

footer .newsletter-info {
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

footer .newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .newsletter-form input {
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: none;
  margin-bottom: 0.5rem;
}

footer .newsletter-form .btn-subscribe {
  width: 10rem;
  align-self: flex-end;
  padding: 0.75rem 0;
  border-radius: 5px;
  border: 2px solid var(--pink);
  background-color: var(--pink);
  font-size: 1rem;
  color: var(--paleBlue);
  transition: background-color 0.4s ease;
}

footer .newsletter-form .btn-subscribe:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}

/* ==================
    Footer Contacts
==================== */

footer .contacts-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

footer .contacts-header i {
  margin-right: 1rem;
}

footer .contacts-header h3 {
  font-size: 2.4rem;
  letter-spacing: 1px;
}

footer .contacts-text {
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

footer .contacts-info {
  margin-bottom: 2rem;
}

footer .contacts-info .phone {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

footer .contacts-info .email {
  display: flex;
  align-items: center;
}

footer .contacts-info i {
  width: 25px;
  margin-right: 1rem;
  text-align: center;
}

footer .contacts-info p {
  font-size: 0.8rem;
}

footer .social-icons i {
  margin-right: 1rem;
}

footer .social-icons .fa-facebook-square,
footer .social-icons .fa-twitter-square {
  background-color: transparent;
  color: #fff;
}

footer .social-icons .fa-instagram {
  color: #fff;
}

/* =================
    Media Queries
=================== */

@media screen and (min-width: 760px) {
  body {
    padding-top: 2rem;
  }

  .stats {
    height: 40rem;
  }

  .stats .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .quality-1 .wave-mobile-top,
  .quality-3 .wave-mobile-top {
    display: none;
  }

  .quality-1 .wave-mobile-bottom,
  .quality-3 .wave-mobile-bottom {
    display: none;
  }

  .quality-1 .wave-desktop-top,
  .quality-3 .wave-desktop-top {
    display: block;
  }

  .quality-1 .wave-desktop-bottom,
  .quality-3 .wave-desktop-bottom {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* Header */

  .header {
    margin-bottom: 4rem;
  }

  .header .logo img {
    width: 10rem;
  }

  .header .get-started-upper h1 {
    font-size: 2.4rem;
  }

  .header .get-started-upper p {
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  /* Buttons */

  .btn-small {
    font-size: 1rem;
  }

  .btn-big {
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
  }

  /* Stats Section */

  .stats img {
    width: 3rem;
  }

  .stats .number {
    font-size: 4.4rem;
  }

  .stats .name {
    font-size: 1.4rem;
  }

  /* Qualities Sections */

  .quality-1,
  .quality-2,
  .quality-3 {
    height: 30rem;
  }

  .quality-2 {
    height: 50rem;
    margin-bottom: 2rem;
  }

  .quality-1 .container,
  .quality-2 .container,
  .quality-3 .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
  }

  .quality-1 .info-container,
  .quality-2 .info-container,
  .quality-3 .info-container {
    text-align: start;
    width: 40%;
  }

  .quality-1 .quality-image,
  .quality-2 .quality-image,
  .quality-3 .quality-image {
    transform: scale(1.25);
  }

  .quality-1 .info-container .quality-name,
  .quality-2 .info-container .quality-name,
  .quality-3 .info-container .quality-name {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .quality-1 .info-container .quality-info,
  .quality-2 .info-container .quality-info,
  .quality-3 .info-container .quality-info {
    font-size: 1.2rem;
  }

  .quality-1 .container .quality-image,
  .quality-3 .container .quality-image {
    order: 1;
  }

  .quality-3 .container .quality-image {
    margin-top: 4rem;
  }

  .quality-2 .container .info-container {
    transform: translateX(80px);
  }

  /* Lower Page Section */

  .get-started-lower {
    height: 50rem;
  }

  .get-started-lower h1 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  /* Footer */

  footer {
    padding-bottom: 4rem;
  }

  footer .footer-container .contacts {
    width: 30%;
  }

  footer .footer-container .contacts .contacts-text {
    width: 80%;
  }

  footer .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }

  footer .footer-container .newsletter {
    order: 1;
    width: 40%;
    margin-bottom: 8rem;
  }

  footer .footer-container .newsletter .newsletter-info {
    width: 60%;
    margin-bottom: 2rem;
  }

  footer .footer-container .newsletter-form {
    flex-direction: row;
    justify-content: flex-start;
  }

  footer .footer-container .newsletter-form input {
    margin-right: 2rem;
  }

  footer .footer-container .newsletter-form .btn-subscribe {
    align-self: flex-start;
  }
}
